
<div id="editTaskModal-{{ task.id }}" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edit-task-form-{{ task.id }}" name="edit_task_form" method="post">
                    <input type="hidden" name="form_id" value="edit_task_form">
                    <input type="hidden" id="edit_task_id-{{ task.id}}" name="edit_task_id" value="{{ task.id }}">
                    <div class="mb-3">
                        <label for="edit_task_name-{{ task.id }}" class="form-label">Task Name</label>
                        <input type="text" class="form-control" id="edit_task_name-{{ task.id }}" name="edit_task_name" value="{{ task.name }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit_task_duration-{{ task.id }}" class="form-label">Duration (minutes)</label>
                        <input type="number" class="form-control" id="edit_task_duration-{{ task.id }}" name="edit_task_duration" value="{{ task.duration }}">
                    </div>
                    <div class="mb-3">
                        <label for="edit_task_due-{{ task.id }}" class="form-label">Due Date</label>
                        <input type="date" class="form-control" id="edit_task_due-{{ task.id }}" name="edit_task_due" value="{{ task.due_date }}">
                    </div>
                    <div class="mb-3">
                        <label for="edit_status-{{ task.id }}" class="form-label">Status</label>
                        <select id="edit_status-{{ task.id }}" name="edit_task_status" class="form-select">
                            <option selected>{{ task.status }}</option>
                            <option value="Not Started">Not Started</option>
                            <option value="In Progress">In Progress</option>
                            <option value="Finished">Finished</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="edit_priority-{{ task.id }}" class="form-label">Priority</label>
                        <select id="edit_priority-{{ task.id }}" name="edit_task_priority" class="form-select">
                            <option selected>{{ task.priority }}</option>
                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High">High</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="edit_parent_project-{{ task.id }}" class="form-label">Parent Project</label>
                        <select id="edit_parent_project-{{ task.id }}" name="edit_parent_project" class="form-select">
                            <option value="" selected>{{ task.project.name if task.project else 'No Parent Project' }}</option>
                            {% for project in projects %}
                            <option value="{{ project.id }}">{{ project.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" name="save_changes" value="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
