{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row py-3">
      <h2 class="text-center pt-5 pb-3">Tasks</h2>
        <table class="table table-responsive">
          <thead>
              <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Due Date</th>
                  <th scope="col">Status</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Project</th>
                  <th scope="col">Action</th>
              </tr>
          </thead>
          <tbody id="taskTableBody">
            {% for task in tasks %}
          <tr id="taskRow-{{ task.id }}">
              <td>{{ task.name }}</td>
              <td>{{ task.due_date }}</td>
              <td>{{ task.status}}</td>
              <td>{{ task.priority}}</td>
              <td>
                {% for project in project_dict %}
                  {% if project.id == task.project_id%}
                  {{ project.name }}
                  {% endif %}
                  {% endfor %}
                  {% if task.project_id == None %}
                  None
                  {% endif %}
              </td>
            <td>
              <div class="d-flex align-items-center">
                <a href="#" class="text-dark" data-bs-toggle="modal" data-bs-target="#editTaskModal-{{ task.id }}" data-task-id="{{ task.id }}"><i class="bi bi-pen-fill"></i></a>
                <form action="/remove_task" name="remove_task" method="post">
                  <input type="hidden" name="remove_task_button" value="{{ task.id }}">
                 <button class="btn btn-light" type="submit"><i class="bi bi-check2-square"></i></button>
                </form>
              </div>
            </td>
          </tr>
            <!-- Include the edit-task-modal.html and pass the task as context -->
            {% with task=task %}
               {% include "edit-task-modal.html" %}
            {% endwith %}
            {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="row py-3">
      <div class="col-md-6 pl-4">
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#taskModal">Add Task</button>
        </div>
    </div>
</div>
<div id="taskPageTasks"></div>
{% include "task-modal.html" %}

{% endblock %}