<!--New Task Modal-->
<div id="taskModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="new-task-form" method="post">
                    <input type="hidden" name="form_id" value="new-task-form">
                    <div class="mb-3">
                        <label for="task-name" class="form-label">Task Name</label>
                        <input type="text" class="form-control" id="task-name" name="task-name" required>
                    </div>
                    <div class="mb-3">
                        <label for="task-duration" class="form-label">Duration (minutes)</label>
                        <input type="number" class="form-control" id="task-duration" name="task-duration">
                    </div>
                    <div class="mb-3">
                        <select name="add-parent" id="add-parent" class="form-select" aria-label="Default select example">
                            <option selected>Select Parent Project</option>
                            {% for project in projects %}
                            <option value="{{ project.id }}">{{ project.name }}</option>
                            {% endfor %}
                          </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="new-task-form" value="new-task">Add Task</button>
            </div>
        </div>
    </div>
</div>
